html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: palevioletred;
    display: flex;
    justify-content: center;
}

#container{
    width: 960px;
    height: 960px;
    background-color: white;
    border: double pink 4px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    /* flex-basis: 920px; */
}

div{
    flex-grow: 1;
}